<!-- start custom footer snippets -->
<footer class="site-footer">
    <div style="text-align: center;">
    <a href="https://www.fgz-risc.de/"><img src="/assets/images/FGZ-Logo-Hamburg-RGB-EN.png" width="40%"></a>
    <a href="https://www.leibniz-hbi.de"><img src="/assets/images/Logo-bunt-quer-transp_e.png" width="40%"></a>
    <p class="text">
        {{ site.footer_text | default: "Powered by <a href='https://fgz-risc.de/'>Research Institute Social Cohesion</a> and <a href='https://www.leibniz-hbi.de/'>Leibniz-HBI</a>" }}</p>
    <a href="https://smo.leibniz-hbi.de/" title="RSS feed">
        <span class="fa-stack fa-lg">
            <i class="fa-solid fa-rss"></i>
        </span>
    <a href="mailto:smo@leibniz-hbi.de" title="Email">
        <span class="fa-stack fa-lg">
            <i class="fa-solid fa-envelope"></i>
        </span>
    <a href="https://github.com/leibniz-hbi" title="GitHub">
		<span class="fa-stack fa-lg">
            <i class="fa-brands fa-github"></i>
        </span>
    <a href="https://twitter.com/bredowinstitut" title="Twitter">
        <span class="fa-stack fa-lg">
            <i class="fa-brands fa-x-twitter"></i>
        </span>
    </a>
    </div>
</footer>

<!-- end custom footer snippets -->